# Configuración de la Estación de Votación
EstacionVotacion.Endpoints=tcp -h localhost -p 10000
EstacionVotacion.ControllerEstacionServant=ControllerEstacion
EstacionVotacion.SistemaMonitorizacionServant=SistemaMonitorizacion
EstacionVotacion.VerificadorAsignacionServant=VerificadorAsignacion
EstacionVotacion.AlmacenamientoTransitorioServant=AlmacenamientoTransitorio
EstacionVotacion.GestorEnvioVotosServant=GestorEnvioVotos

# Archivo de datos
EstacionVotacion.CedulasAutorizadasFile=src/main/resources/data/CedulasAutorizadas.csv
EstacionVotacion.VotosTransitoriosFile=data/estacion/VotosTransitorios.csv

# Configuración del Centro de Votación (donde enviar los votos)
CentroVotacion.Proxy=GestorRecepcionVotos:tcp -h localhost -p 10001